%p#citation
  %span{ :property => 'schema:isPartOf', :resource => @bib.periodical.id }
    %span.label Periodical Title:
    %span.value{ :property => 'schema:name' }= @bib.periodical.name
  - if @bib.page_start or @bib.pagination   
    %span.label Pages:
    %span.value
    - if @bib.page_start
      %span.value{ :property => 'schema:pageStart' }= "#{@bib.page_start} - "
      %span.value{ :property => 'schema:pageEnd' }= @bib.page_end
    - else
      %span.value{ :property => 'schema:pagination' }= @bib.pagination