- @title = @bib.name

%div.span-24{ :style => 'margin-top: 2em;' }
  %div#bibliographic-resource{ :resource => @bib.id, :typeof => @bib.type }
  
    %div#statement-of-responsibility.span-24
      / Title
      - if @bib.name and @bib.name.strip != ''
        %h1#bibliographic-resource-name{ :property => 'schema:name' }= @bib.name
      - else
        %h1#bibliographic-resource-name [Unnamed material]
      
      / Author
      - author = @bib.author
      - if author
        %div#author{ :property => 'schema:author', :resource => author.id, :typeof => author.type }
          %h2#author-name{ :property => 'schema:name' }
            %a{ :href => url("/catalog?creator=#{author_display_name(author)}&name=&kw=&about=&advanced=true&scope=worldcat") }
              = author_display_name(author)

    %div.span-13.append-1.first
      / Contributors
      - contributors = @bib.contributors
      - if contributors.size > 0
        %h3 Contributors
        %ul#contributors
          - contributors.each do |contributor| 
            - if contributor.name and contributor.name.strip != ''
              %li{ :property => 'schema:contributor', :resource => contributor.id, :typeof => contributor.type }
                %span.contributor-name{ :property => 'schema:name' }
                  %a{ :href => url("/catalog?creator=#{author_display_name(contributor)}&name=&kw=&about=&advanced=true&scope=worldcat") }
                    = author_display_name(contributor)

      / Subjects
      - subjects = display_subjects(@bib)
      - if subjects.size > 0
        %h2 Subjects
        %ul#subjects
          - subjects.each do |subject| 
            %li.subject{ :property => 'schema:about', :resource => subject.id, :typeof => subject.type }
              %span.subject-name{ :property => 'schema:name' }
                %a{ :href => url("/catalog?about=#{subject.name}&creator=&name=&kw=&advanced=true&scope=worldcat") }= subject.name

      / Publication Info
      %h2 Publication Info
      - periodical_name = @bib.periodical_name
      - if periodical_name
        %p#citation
          %span{ :property => 'schema:isPartOf', :resource => @bib.is_part_of.id }
            %span{ :property => 'schema:isPartOf', :resource => @bib.is_part_of.volume }
              %span{ :property => 'schema:isPartOf', :resource => @bib.is_part_of.volume.periodical.id }
                %span.label Periodical Title:
                %span.value{ :property => 'schema:name' }= periodical_name
                - if @bib.volume_number
                  %span.label Volume:
                  %span.value{ :property => 'schema:volumeNumber' }= @bib.volume_number
                - if @bib.issue_number
                  %span.label Issue:
                  %span.value{ :property => 'schema:issueNumber' }= @bib.issue_number
            %span.label Pages:
            %span.value
              %span.value{ :property => 'schema:pageStart' }= "#{@bib.page_start} - "
              %span.value{ :property => 'schema:pageEnd' }= @bib.page_end
      %p
        %span.label Format:
        %span.value= FORMATS[@bib.type.to_s]
        %br
    
        - if @bib.book_edition
          %span.label Edition:
          %span.value{ :property => 'schema:bookEdition' }= @bib.book_edition
          %br
      
        - if @bib.language
          %span.label Language:
          %span.value= BCP_47_LANGUAGES[@bib.language]
          %br
      
        - if is_published?(@bib)
          %span.label Published:
          - @bib.places_of_publication.each do |place| 
            %span.value{ :property => 'library:placeOfPublication' }= "#{place.name} : "
          - if @bib.publisher
            %span.value
              %span{ :property => 'schema:publisher', :typeof => @bib.publisher.type }
                %span{ :property => 'schema:name' }= @bib.publisher.name
          %span.value{ :property => 'schema:datePublished' }= @bib.date_published
          %br

        - if @bib.num_pages
          %span.label Physical Details:
          %span.value
            %span{ :property => 'schema:numberOfPages' }= @bib.num_pages
            pages
          %br

        - if @bib.isbns.size > 0
          %span.label ISBNs:
          %span.value{ :property => 'schema:isbn' }= @bib.isbns.join(', ')
          %br

        %span.label OCLC Number:
        %span.value{ :property => 'library:oclcnum' }= @bib.oclc_number
        %br

      - if @bib.descriptions.size > 0
        %h3 Description
        - @bib.descriptions.each do |description| 
          %p{ :property => 'schema:description' }= description

      / Reviews
      - if @bib.reviews.size > 0
        %div{ :property => 'schema:reviews' }
          %h3 Reviews
          - @bib.reviews.each do |review| 
            %p{ :property => 'schema:review' }
              %span{ :property => 'schema:reviewBody' }= review.body

    %div#availability-and-more.span-10.last
      %div#availability.span-10
        %h2 Availability
        - if @offer_results.offers.size < 1
          %p This item is not available at your library
        - else
          - @offer_results.offers.each do |offer| 
            %p
              = translate_symbol_to_name(offer.item_offered.collection.oclc_symbol)
              = "(#{offer.item_offered.collection.oclc_symbol})"
      
      %div#more-info.span-10.last
    
  
  