- @title = @bib.name

%div.span-24{ :style => 'margin-top: 2em;' }
  %div#bibliographic-resource{ :resource => @bib.id, :typeof => @bib.type }
  
    %div#statement-of-responsibility.span-24
      / Title
      - if @bib.name and @bib.name.strip != ''
        %h1#bibliographic-resource-name{ :property => 'schema:name' }= @bib.name
      - else
        %h1#bibliographic-resource-name [Unnamed material]
      
      / Author
      - author = @bib.author
      - if author
        %div#author{ :property => 'schema:author', :resource => author.id, :typeof => author.type }
          %h2#author-name{ :property => 'schema:name' }
            %a{ :href => url("/catalog?creator=#{author_display_name(author)}&name=&kw=&about=&advanced=true&scope=worldcat") }
              = author_display_name(author)

    %div.span-13.append-1.first
      / Contributors
      - contributors = @bib.contributors
      - if contributors.size > 0
        %h3 Contributors
        %ul#contributors
          - contributors.each do |contributor| 
            - if contributor.name and contributor.name.strip != ''
              %li{ :property => 'schema:contributor', :resource => contributor.id, :typeof => contributor.type }
                %span.contributor-name{ :property => 'schema:name' }
                  %a{ :href => url("/catalog?creator=#{author_display_name(contributor)}&name=&kw=&about=&advanced=true&scope=worldcat") }
                    = author_display_name(contributor)

      / Similar to
      - similar_to = @bib.similar_to
      - if similar_to
        %h3 Similar To
        %p#similarTo{ :property => 'schema:similarTo', :resource => similar_to.id, :typeof => similar_to.type }
          %span.similar_to_name{ :property => 'schema:name' }
            - oclc_number = URI(similar_to.id).path.split('/').last
            %a{ :href => url("/catalog/#{oclc_number}") }= similar_to.name
      
      / Subjects
      - subjects = display_subjects(@bib)
      - if subjects.size > 0
        %h2 Subjects
        %ul#subjects
          - subjects.each do |subject| 
            %li.subject{ :property => 'schema:about', :resource => subject.id, :typeof => subject.type }
              %span.subject-name{ :property => 'schema:name' }
                %a{ :href => url("/catalog?about=#{subject.name}&creator=&name=&kw=&advanced=true&scope=worldcat") }= subject.name

      / Genres
      - genres = @bib.genres
      - if genres.size > 0
        %h2 Genres
        %ul#genres
          - genres.each do |genre| 
            %li.genre{ :property => 'schema:genre' }
              %a{ :href => url("/catalog?about=#{genre}&creator=&name=&kw=&advanced=true&scope=worldcat") }= genre               
                

      / Publication Info
      %h2 Publication Info
      %p
        %span.label Format:
        %span.value= FORMATS[@bib.type.to_s]
        %br
      
        - if @bib.language
          %span.label Language:
          %span.value= BCP_47_LANGUAGES[@bib.language]
          %br
      
        - if is_published?(@bib)
          %span.label Published:
          - @bib.places_of_publication.each do |place| 
            %span.value{ :property => 'library:placeOfPublication' }= "#{place.name} : "
          - if @bib.publisher
            %span.value
              %span{ :property => 'schema:publisher', :typeof => @bib.publisher.type }
                %span{ :property => 'schema:name' }= @bib.publisher.name
          %span.value{ :property => 'schema:datePublished' }= @bib.date_published
          %br

        - if @bib.issn
          %span.label ISSN:
          %span.value{ :property => 'schema:issn' }= @bib.issn
          %br

        %span.label OCLC Number:
        %span.value{ :property => 'library:oclcnum' }= @bib.oclc_number
        %br

      - if @bib.descriptions.size > 0
        %h3 Description
        - @bib.descriptions.each do |description| 
          %p{ :property => 'schema:description' }= description

    %div#availability-and-more.span-10.last
      %div#availability.span-10
        %h2 Availability
        - if @offer_results.offers.size < 1
          %p This item is not available at your library
        - else
          - @offer_results.offers.each do |offer| 
            %p
              = translate_symbol_to_name(offer.item_offered.collection.oclc_symbol)
              = "(#{offer.item_offered.collection.oclc_symbol})"
      
      %div#more-info.span-10.last
    
  
  