- if @results
  %div#your-search.span-24
    %div.span-6
      %div.span-6
        %h2.right{ :style => 'padding-right: 1em;' } Your Search
      - if params[:advanced]
        %div.span-6
          %p.right.modify{ :style => 'padding-right: 1em;' }
            %a{ :href => advanced_page_url } Advanced Search
    %div.span-18.last
      %p.active-items
        - if params[:q]
          %span.active-search-item
            %span.key Query:
            %span.value{ :style => 'padding-right: 1em;' }= params[:q]
        - active_advanced_search_fields(params).each_with_index do |param, position| 
          - unless param[1].strip == '' or param[0] == 'advanced' or param[0] == 'operator'
            %span.active-search-item
              %span.key= "#{advanced_search_field_display_names[param[0]]}:"
              %span.value= param[1]
              %a.remove-item{ :href => remove_advanced_search_term_url(param[0]) } Remove search term
        - facets = ['itemType', 'inLanguage', 'creator']
        - facet_queries = CGI.parse(URI.parse(request.url).query)['facetQueries']
        - facet_queries.each_with_index do |facet_query, position| 
          %span.active-search-item
            - facet_index = facet_query.split(':')[0]
            - facet_value = facet_query.split(':')[1]
            %span.key= "#{facet_field_display_names[facet_index]}:"
            %span.value= facet_display_name(facet_index, facet_value)
            %a.remove-item{ :href => remove_facet_term_url(facet_query) } Remove facet

  %div#search-results.span-24.last
  
    %div#facets.span-6
      %h2 Refine Your Search
      
      %h3 Format
      - item_type_facet = @results.facets.select {|f| f.index == 'itemType'}.first
      - if item_type_facet
        = partial :facet, :locals => { :facet => item_type_facet }
      
      %h3 Author/Creator
      - creator_facet = @results.facets.select {|f| f.index == 'creator'}.first
      - if creator_facet
        = partial :facet, :locals => { :facet => creator_facet }
      
      %h3 Language
      - language_facet = @results.facets.select {|f| f.index == 'inLanguage'}.first
      - if language_facet
        = partial :facet, :locals => { :facet => language_facet }
      
    %div#search-results.span-18.last
      %h2 Results
      
      %div.search-page-navigation.span-18.last
        - _pagination = pagination(params, @results)
        %div.previous.span-6.first
          - if _pagination[:previous_page_start] 
            %a{:href => previous_page_url(_pagination)} &laquo; Previous
          - else
            %span.inactive-link &laquo; Previous

        %div.numbering.span-6
          = "#{separate_comma(_pagination[:first])} - #{separate_comma(_pagination[:last])} of #{separate_comma(_pagination[:total])}"

        %div.next.span-6.last
          - if _pagination[:next_page_start] 
            %a{:href => next_page_url(_pagination)} Next &raquo;
          - else
            %span.inactive-link Next &raquo;

      %ol#results-items.span-18{ :start => @results.start_index + 1 }
        - @results.bibs.each do |bib| 
          %li.search-result
            %h3.title
              %a{ :href => url("/catalog/#{bib.oclc_number}")}= bib.name
              %span.date-published= bib.date_published
            - if bib.author
              %p.author= bib.author.name
            - elsif bib.contributors and bib.contributors.size > 0
              %p.author= bib.contributors.map {|contributor| contributor.name}.join('; ')
            %p.format
              %span.label Format:
              %span.value= FORMATS[bib.type.to_s]
